<header>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a class="logo" href="#">Wik<i class="fas fa-map-pin"></i>Maps</a>
    </div>


    <div class="other">
      <div class="nav-dropdown">
        Create Maps
        <i class="far fa-map"></i>
        <!-- <div class="dropdown-content">
          <a href="#">NewMap</a>
          <a href="#">ViewMaps</a>
          <a href="#">MyMaps</a>
        </div> -->
      </div>

      <div class="authentication">
      <!-- tag if (userCookie) { tag -->
        <!-- <div class="auth-user">
          <a id = 'button-1' href='#'>Profile</a>
          <a id = 'button-2' href='#'>Logout</a>
        </div> -->
      <!-- tag } else { tag -->
        <div class="user">
          <a id = 'button-1' href='#'>Login</a> |
          <a id = 'button-2' href='#'>SignUp</a>
        </div>
      <!-- tag } tag -->
      </div>
    </div>



  </nav>
</header>
