<header>
  <nav class="nav-bar">
    <div class="nav-logo">
      <a class="logo" href="/./index">Wik<i class="fas fa-map-pin"></i>Maps</a>
    </div>

    <% if (user) { %>
    <div class="other">
      <div class="nav-dropdown">
        <a id='create-ref' href="/api/maps/create">
          Create Maps
          <i class="far fa-map"></i>
        </a>
      </div>
    <% } %>

      <div class="authentication">
      <% if (user) { %>
        <div class="auth-user">
          <a class = 'button-1' href='/./profile'>Profile</a> |
          <a class = 'button-2' href='#' id='logout-ref'>Logout</a>
        </div>
      <% } else { %>
        <div class="user">
          <a class = 'button-1' href='#' id='login-ref'>Login</a> |
          <a class = 'button-2' href='#'>SignUp</a>
        </div>
      <% } %>
      </div>
    </div>



  </nav>
</header>
