<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #map {
        height: 400px;
        width: 75%;
    }
  </style>
<!-- Requiring jQuery from host server -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="scripts/create_map.js"></script> -->

</head>
<body>
  <h1>Your New Map!</h1>
<!-- City Form -->
<form id="cityForm">
  <label for="cityName">City Name</label><br>
  <input type="text" name="cityName" id="cityName"><br>
  <label for="countryName">Country Name</label><br>
  <input type="text" name="countryName" id="countryName"><br>
  <button type='submit' class='cityCountryButton'>Show map!</button>
</form>

<!-- Map -->
  <div id="map">
  </div>

  <!-- Point Form -->
  <form id="pointForm">
    <label for="pointTitle">Point Title</label><br>
    <input type="text" name="pointTitle" id="pointTitle"><br>
    <label for="pointDescription">Point Description</label><br>
    <input type="text" name="pointDescription" id="pointDescription"><br>
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
      <option value="Food">Food</option>
      <option value="Shopping">Shopping</option>
      <option value="Nature">Nature</option>
      <option value="Nightlife">Nightlife</option>
    </select>
    <button type='submit' class='pointButton'>Create Point</button>
  </form>

  <!-- This is where the individual marker coords are displayed and fetched for the generation of each markers array element -->
  <div id="marker_coords">
  </div>

  <!-- This is where all saved points are displayed -->
  <table id="pointsList">
  </table>

  <!-- Maps Form -->
  <form id="mapsForm">
    <label for="mapTitle">Map Title</label><br>
    <input type="text" name="mapTitle" id="mapTitle"><br>
    <label for="mapDescription">Map Description</label><br>
    <input type="text" name="mapDescription" id="mapDescription"><br>
    <button type='submit' class='pointButton'>Save Map</button>
  </form>

  <!-- SCRIPTS -->
<script>

  // initializes map variable which will store the map we set below - is needed so we can access the map in the remove point from pointsList event listener

  let map;

  const visualMarkers = [];

  //Array of marker data (this is what's later inserted into the points DB so it has to contain only what we want saved)
  const markers = [
      // {
      //     coordinates:{lat:29.9841,lng:-90.1529},
      //     iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
      //     pointTitle:'test1',
      //     pointDescription:'test1',
      //     category:'Food'
      // },
      // {
      //     coordinates:{lat:29.9146,lng:-90.0540},
      //     pointTitle:'test2',
      //     pointDescription:'test2',
      //     category:'Shopping'
      // },
      // {
      //     coordinates:{lat:30.4583,lng:-91.1403},
      //     pointTitle:'test3',
      //     pointDescription:'test3',
      //     category:'Nightlife'
      // }
  ];

  // sets all of the points back on the map
  function setMapOnAll(map) {
        for (let i = 0; i < visualMarkers.length; i++) {
        visualMarkers[i].setMap(map);
        }
  }

  function removeMarkers() {
    for(let i = 0; i < visualMarkers.length; i++){
        visualMarkers[i].setMap(null);
    }
  }

  // this generates the individual point elements within div tags (displayed in #pointsList)
  const generatePointsList = function(markers){
    console.log("generatePointsList", markers);

    let t = `<tr>
                <th >Title</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Long</th>
                <th>Delete Point</th>
            </tr>`;
    for (let i = 0; i < markers.length; i++){
      let tr = `<tr id = "${markers[i].pointTitle}">`;
      tr += "<td>"+markers[i].pointTitle+"</td>";
      tr += "<td>"+markers[i].pointDescription+"</td>";
      tr += "<td id = 'lat'>"+markers[i].coordinates.lat+"</td>";
      tr += "<td id = 'long'>"+markers[i].coordinates.lng+"</td>";
      tr += "<td>"+`<input type='button' value='Delete Point' class='removeItem'>`+"</td>";
      // tr += "<td>"+"<input type='button' value='Delete Row' onclick='deleteRowFunction()'>"+"</td>";
      // tr += "<td>"+"delete icon here"+"</td>";
      tr += "</tr>";
      t += tr;
    }
      document.getElementById("pointsList").innerHTML = t;
    };

    // simple reference to the pointsTable
    const pointsTable = document.getElementById('pointsList');

    // event listener for clicks onto any "delete point" button - removes the HTML element and marker from markers array (so it's not submitted to the DB when we save the map)
    pointsTable.addEventListener('click', (event) => {

      // if you click anywhere in the table aside from the removeItem button - it does nothing
      if (!event.target.classList.contains('removeItem')) {
        return;
      }

      // if you did click on the removeItem button - this determines the point title of the row we just deleted to also remove it from the markers table
      const deletedPointTitle = event.target.parentNode.parentNode.id;
      console.log("deletedPointTitle:", deletedPointTitle);

      // this counter keeps track of the marker index that we removed from the markers array
      let removedMarkerIndex = 0;

      // find the index of the marker from the markers array using the pointTitle - this index is then used to remove the marker from the markers list and to remove the visual marker - WARNING, each point title must be unique using this logic
      for (let i = 0; i < markers.length; i++) {
        if (markers[i].pointTitle === deletedPointTitle) {
          removedMarkerIndex = i;
          console.log(markers);
          // console.log(removedMarkerIndex);
        }
      }

      console.log(markers[removedMarkerIndex].coordinates.lat);
      console.log(visualMarkers[0].position.lat().toFixed(5));
      console.log(markers[removedMarkerIndex].coordinates.lng);
      console.log(visualMarkers[0].position.lng().toFixed(5));

      // saves the respect lat and lng for the removed marker from the markers array
      let markerLat = markers[removedMarkerIndex].coordinates.lat;
      let markerLng = markers[removedMarkerIndex].coordinates.lng;

      for (let j = 0; j < visualMarkers.length; j++) {
        // the marketLat and markerLng are not fixed length or integer types so the only way to have these equal the coords for the visualMarker is to convert to float then to fixed decimal places
        if (parseFloat(markerLat).toFixed(4) === visualMarkers[j].position.lat().toFixed(4) && parseFloat(markerLng).toFixed(4) === visualMarkers[j].position.lng().toFixed(4)) {
          removeMarkers();
          visualMarkers.splice(j, 1);
          setMapOnAll(map);
        }
      }

      // this removes the marker (aka point) we deleted from the markers array
      markers.splice(removedMarkerIndex, 1);

      // I think* this is for the button's functionality but I haven't noticed it actually do anything yet
      event.preventDefault();

      // This re-sets the map with points

      // this deletes the actual HTML element from the DOM
      event.target.parentNode.parentNode.remove();

    });

    // Initializes the Google map based on currently hard-coded lat, long values
    function initMap() {
      //set up initial map for New Orleans as default
      const options = {  // Creates map options to add to the default map.
          zoom:8,
          center:{lat:51.0447,lng:-114.0719}
      }
      //let map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options.
      map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options

      //render map of user input location (for now, Vancouver or Calgary only)
      document.getElementById("cityForm").addEventListener('submit', () => {
        event.preventDefault();
        let cityName = document.getElementById("cityName").value;
        //console.log("cityName",cityName);
        if (cityName === "Vancouver") {
          map.setCenter({
            lat: 49.2827,
            lng: -123.1207
          });
        }
        if (cityName === "Calgary") {
          map.setCenter({
            lat: 51.0447,
            lng: -114.0719
          });
        }
      });

      //Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
          addMarker({coordinates:event.latLng}); //Add marker
          // setMapOnAll(map);
          document.getElementById("marker_coords").innerHTML=event.latLng.toUrlValue();
          console.log(visualMarkers[0].position.lat());
          console.log(visualMarkers[0].position.lng());
        });

      // Listens for the submission of the pointForm button which then creates a markerElement containing coordinates (lat, lng), pointTitle, pointDescription
      document.getElementById("pointForm").addEventListener('submit',(event) => {
        event.preventDefault();
        //console.log("event", event);
        //console.log("pointTitle", document.getElementById("pointTitle").value);

          markers.push(
            {
              coordinates: {
                lat:document.getElementById("marker_coords").innerHTML.split(',')[0],
                lng:document.getElementById("marker_coords").innerHTML.split(',')[1]
              },
              pointTitle: document.getElementById("pointTitle").value,
              pointDescription: document.getElementById("pointDescription").value,
              category: document.getElementById("category").value,
              // content: document.getElementById("pointTitle").value,
            }
          );
        // console.log(markers);
        generatePointsList(markers);
      });

      document.getElementById("mapsForm").addEventListener('submit', (event) => {
        event.preventDefault();

        $.ajax({
          url: '/api/maps/create',
          method: "POST",
          data: {
            markers,
            mapTitle: document.getElementById("mapTitle").value,
            mapDescription: document.getElementById("mapDescription").value
            }
        })
        .then((result)=>{
          //does nothing
        })
        .catch((error)=>{
          console.log('error:',error);
        });
      });

      console.log('outside markers', markers);

      function addMarker(props) {
              const marker = new google.maps.Marker({
              position:props.coordinates,
              map:map,
              // content: props.content
          });
          // sends newly created marker into visualMarkers array with the coordinates
          visualMarkers.push(marker);
          console.log("just updated visualMarkers:", visualMarkers)

          // visualMarkers.push({marker, coordinates: props.coordinates});

          // if(props.iconImage) {  //Check for custom icon
          //   marker.setIcon(props.iconImage); //Set icon image
          // }

          // if(props.content) { //Check content
          //   let infoWindow = new google.maps.InfoWindow({
          //     content:props.content
          //   });

          //   marker.addListener('click', function() {
          //     infoWindow.open(map,marker);
          //   });
          // }
      }
  }
</script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMNp3SzabTd8aZW6jzofga5kNv8K6sy9U&callback=initMap">
  </script>

</body>
</html>
