<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/map_display.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;1,900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,300;0,400;1,900&family=Oxygen:wght@700&display=swap" rel="stylesheet">

  <title>Create Map</title>
  <style>
    #map {
        height: 775px;
        width: 80%;
    }
  </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/_header.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
<%- include('./_header'); %>
<div id = 'h1AndSearch'>
<h1>Your New Map!</h1>
<form id="cityForm">
  <label for="cityName">Search By City</label><br>
  <input type="text" name="cityName" id="cityName"><br>
  <button type='submit' class='cityCountryButton'>Generate Map</button>
</form>
</div>

<div id='mapAndForms'>
  <!-- Map Div -->
  <div id="map">
  </div>

  <!-- Div to Help with Page Styling -->
  <div id ='rightOfMap'>
    <!-- Maps Form -->
    <form id="mapsForm">
      <label for="mapTitle">Map Title:</label><br>
      <input type="text" name="mapTitle" id="mapTitle"><br>
      <label for="mapDescription">Map Description:</label><br>
      <input type="text" name="mapDescription" id="mapDescription"><br>
      <button type='submit' class='pointButton'>Save Map</button>
    </form>

    <!-- Point Form -->
    <form id="pointForm">
      <label for="pointTitle">Point Title:</label><br>
      <input type="text" name="pointTitle" id="pointTitle"><br>
      <label for="pointDescription">Point Description:</label><br>
      <input type="text" name="pointDescription" id="pointDescription"><br>
      <label for="point-image">Point Image:</label><br>
      <input type="text" placeholder="http://" name="point-image" id="point-image"><br>
      <label for="category">Choose a Category:</label>
      <br>
      <select name="category" id="category">
        <option value="Food">Food</option>
        <option value="Shopping">Shopping</option>
        <option value="Nature">Nature</option>
        <option value="Nightlife">Nightlife</option>
      </select>
      <button type='submit' class='pointButton'>Create Point</button>
    </form>
    <br>
    <table id="pointsList">
    </table>
  </div>
</div>

  <!-- This is where the individual marker coords are displayed and fetched for the generation of each markers array element -->
  <div id="marker_coords">
  </div>

  <!-- This is where all saved points are displayed -->

  <!-- SCRIPTS -->
<script>

  // initializes map variable which will store the map we set below - is needed so we can access the map in the remove point from pointsList event listener

  let map;

  // This array takes in all visualMarkers aka what is actually being displayed on the map
  let visualMarkers = [];

  //Array of marker data (this is what's later inserted into the points DB so it has to contain only what we want saved)
  const markers = [];

    // simple to access reference to the pointsTable (shown above)
    const pointsTable = document.getElementById('pointsList');

    // event listener for clicks onto any "delete point" button in the pointTable - deletes visual HTML element, marker from markers, and visualMarker from map
    pointsTable.addEventListener('click', (event) => {

      // if you click anywhere in the table aside from the removeItem button - it does nothing
      if (!event.target.classList.contains('removeItem')) {
        return;
      }

      // if you did click on the removeItem button - this determines the point title of the row we just deleted to also remove it from the markers table
      const deletedPointTitle = event.target.parentNode.parentNode.id;

      // this counter keeps track of the marker index that we removed from the markers array
      let removedMarkerIndex = 0;

      // finds the index of the marker from the markers array using the pointTitle - this index is then used to remove the marker from the markers list and to remove the visual marker
      // WARNING, each point title must be unique using this logic
      for (let i = 0; i < markers.length; i++) {
        if (markers[i].pointTitle === deletedPointTitle) {
          removedMarkerIndex = i;
        }
      }

      // saves the respective lat and lng for the removed marker from the markers array
      let markerLat = markers[removedMarkerIndex].coordinates.lat;
      let markerLng = markers[removedMarkerIndex].coordinates.lng;

      for (let j = 0; j < visualMarkers.length; j++) {
        // the marketLat and markerLng are not fixed length or integer types so the only way to have these equal the coords for the visualMarker is to convert to float then to fixed decimal places
        if (parseFloat(markerLat).toFixed(4) === visualMarkers[j].position.lat().toFixed(4) && parseFloat(markerLng).toFixed(4) === visualMarkers[j].position.lng().toFixed(4)) {
          removeMarkers();
          visualMarkers.splice(j, 1);
          setMapOnAll(map);
        }
      }

      // this removes the marker (aka point) we deleted from the markers array
      markers.splice(removedMarkerIndex, 1);

      // I think* this is for the button's functionality but I haven't noticed it actually do anything yet (scared to remove)
      event.preventDefault();

      // this deletes the actual HTML element from the DOM
      event.target.parentNode.parentNode.remove();

    });

    // Initializes the Google map based on currently hard-coded lat, long values
    function initMap() {

      const options = {  // Creates map options to add to the default map.
          zoom:14,
          center:{lat:51.0447,lng:-114.0719} // hard coded to center on Calgary currently
      }

      // sets the map variable to the new map
      map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options

      //renders map of user inputted location (for now, Vancouver or Calgary only)
      document.getElementById("cityForm").addEventListener('submit', () => {
        event.preventDefault();
        let cityName = document.getElementById("cityName").value;
        if (cityName === "Vancouver") {
          map.setCenter({
            lat: 49.2827,
            lng: -123.1207
          });
        }
        if (cityName === "Calgary") {
          map.setCenter({
            lat: 51.0447,
            lng: -114.0719
          });
        }
      });

      //Listens for clicks on the map and then creates a marker followed by displaying the lat and lng of that marker in the "marker_coords" ID element (to be used elsewhere)
      google.maps.event.addListener(map, 'click', function(event){

        addMarker({coordinates:event.latLng, iconImage: iconSelector(document.getElementById("category").value)}); //Add marker

          document.getElementById("marker_coords").innerHTML=event.latLng.toUrlValue();
        });

      // Listens for the submission of the pointForm button which then creates a marker element containing coordinates (lat, lng), pointTitle, pointDescription, category, and pointImage
      document.getElementById("pointForm").addEventListener('submit',(event) => {
        event.preventDefault();

          markers.push(
            {
              coordinates: {
                lat:document.getElementById("marker_coords").innerHTML.split(',')[0],
                lng:document.getElementById("marker_coords").innerHTML.split(',')[1]
              },
              pointTitle: document.getElementById("pointTitle").value,
              pointDescription: document.getElementById("pointDescription").value,
              category: document.getElementById("category").value,
              pointImage: document.getElementById("point-image").value
            }
          );
        generatePointsList(markers);
      });

      document.getElementById("mapsForm").addEventListener('submit', (event) => {
        event.preventDefault();

        // upon hitting save map this submits the data for the map and markers (points) to then be inserted into the DB
        $.ajax({
          url: '/api/maps/create',
          method: "POST",
          data: {
            markers,
            mapTitle: document.getElementById("mapTitle").value,
            mapDescription: document.getElementById("mapDescription").value
            }
        })
        .then((result)=>{
          window.location.href = "/api/maps/" + result.mapID; //this changes the browser location (url location).
        })
        .catch((error)=>{
          console.error(error)
        });
      });
    }
</script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMNp3SzabTd8aZW6jzofga5kNv8K6sy9U&callback=initMap">
  </script>

</body>
</html>
