<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #map {
        height: 400px;
        width: 75%;
    }
  </style>
<!-- Requiring jQuery from host server -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script type="text/javascript" src="scripts/create_map.js"></script> -->

</head>
<body>
  <h1>Your New Map!</h1>

  <div id="map">
  </div>
  <form method=POST id="pointForm">
    <label for="pointTitle">Point Title</label><br>
    <input type="text" name="pointTitle"><br>
    <label for="pointDescription">Point Description</label><br>
    <input type="text" name="pointDescription"><br>
    <button type='submit' class='pointButton'>Submit</button>
  </form>
  <div id="marker_example">
    LatLng Example
  </div>
<!-- SCRIPTS -->
<script>
    function initMap() {
      var options = {  // Creates map options to add to the default map.
          zoom:8,
          center:{lat:29.9511,lng:-90.0715}
      }
      var map = new google.maps.Map(document.getElementById('map'), options); //Creates the map and includes the options.

      //Listen for click on map
      google.maps.event.addListener(map, 'click', function(event){
          addMarker({coordinates:event.latLng}); //Add marker
          document.getElementById("marker_example").innerHTML=event.latLng.toUrlValue();
          // document.getElementById("marker_example").innerHTML=12;
      });

      //Array of markers
      var markers = [
          {
              coordinates:{lat:29.9841,lng:-90.1529},
              iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
              content:'<h1>Metarie, LA</h1>'
          },
          {
              coordinates:{lat:29.9146,lng:-90.0540},
              content:'<h1>Gretna, LA</h1>'
          },
          {
              coordinates:{lat:30.4583,lng:-91.1403},
              content:'<h1>Baton Rouge, LA</h1>'
          }
      ];

      //Loop through markers
      for(var i = 0;i < markers.length;i++) {
          addMarker(markers[i]); //Add markers
      }



      //Add Marker function
      function addMarker(props) {
              const marker = new google.maps.Marker({
              position:props.coordinates,
              map:map,
              //icon:props.iconImage
          });

          // testing for coordinates retrieval
          // coordinates:{lat:29.9841,lng:-90.1529},
          markers.push({ coordinates: {lat:props.coordinates.lat(), lng:props.coordinates.lng()}});
          console.log(markers);
          console.log(props.coordinates);

          if(props.iconImage) {  //Check for custom icon
            marker.setIcon(props.iconImage); //Set icon image
          }

          if(props.content) { //Check content
            var infoWindow = new google.maps.InfoWindow({
              content:props.content
            });

            marker.addListener('click', function() {
              infoWindow.open(map,marker);
            });
          }
      }
  }
</script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMNp3SzabTd8aZW6jzofga5kNv8K6sy9U&callback=initMap">
  </script>

</body>
</html>
