// See: https://sass-lang.com/
$backgroundColor:  #FFF7E6;

body {
  display: flex;
  flex-direction: column;
  background: $backgroundColor;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-evenly;
  font-family: 'Lato', sans-serif;
  font-size: larger;
}

h1, h2 {
  flex: 0 1 auto;
  display: inline-block;
  vertical-align: bottom;
  box-sizing: border-box;
  width: 100%; //or any percentage width you want
}

#rowOf3MapsCreated, #rowOf3MapsContributed, #rowOf3MapsFavourited {
  // display: flex;
  // flex-direction: row;
  // align-items: flex-start;
  // justify-content: space-between;
  // align-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}

.eachMapImg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3em;
  margin-right: 3em;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%; //or any percentage width you want
}



